{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}

    <div class="container my-3">
        <h2>Add Employee</h2>
        <form action="/admin/add/employee" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">First Name</label>
              <input type="text" class="form-control" name="first_name" id="title" aria-describedby="emailHelp"> 
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Last Name</label>
              <input type="text" class="form-control" name="last_name" id="desc">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="desc">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="desc">
            </div>
              <div class="mb-3">
                <label for="desc" class="form-label">Contact No</label>
                <input type="text" class="form-control" name="contact_no" id="desc">
              </div>
              <div class="mb-3">
                <label for="desc" class="form-label">Roles</label><br>
                {% for role in all_role %}
                    <input type="checkbox" id="vehicle1" name="role" value="{{role.id}}">
                    <label for="vehicle1"> <b>{{role.role_title}}</b></label><br>
                {% endfor %}
              </div>
            
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
    </div>
    <div class="container my-3">
      {% if message %}
                   
      <div class="alert alert-dark" role="alert">
          {{message}}
        </div>
        {% endif %}
     
        <h2>Employee Details</h2>
        
                {% if all_eemployee|length == 0 %}
                   
                <div class="alert alert-dark" role="alert">
                    No Employee found!
                  </div>
                    {% else %} 
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">SNo</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">UserName</th>

                            <th scope="col">Create Time</th>
                            <th scope="col">Roles</th>
                          </tr>
                        </thead>
                        
                        <tbody>
              {% for emp in all_eemployee %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{emp.first_name}}</td>
                <td>{{emp.last_name}}</td>
                <td>{{emp.username}}</td>
                <td>{{emp.date_created.date()}}</td>
                <td>{{emp.roles()}}</td>
                
              </tr>
              
              {% endfor %}
            </tbody>
            </table>
              {% endif %}
               
           
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
        <script>
            var a = document.getElementById("dropbtn");
            var old = a.options[a.selectedIndex].text;
         </script>
       
         <div class="wrapper">
           <button class="button" id="myBtn">Confirm mapping</button>
           <script>
             $('#myBtn').on('click', function(a) {
                 var drpdbJson = {};
                 // for each row containing a select....
                 $('#Mapped\\ table tr:gt(0):has(select)').each(function(idx, old_ele) {
                     // get the selected value
                     var old_drpdwnKey = $(old_ele).find('.dropbtn option:selected').text();
                     // get the second column text
                     var old_drpdwnValue = $(old_ele).find('td:eq(1)').text();
                     // add to the json result
                     if (drpdbJson[old_drpdwnKey] == undefined) {
                       drpdbJson[old_drpdwnKey] = old_drpdwnValue;
                     } else {
                       drpdbJson[old_drpdwnKey] = (typeof drpdbJson[old_drpdwnKey] === 'string') ?
                           [drpdbJson[old_drpdwnKey], old_drpdwnValue] : [...drpdbJson[old_drpdwnKey], old_drpdwnValue];
                     }
                 })
                 // print the json obj
                 console.log(JSON.stringify(drpdbJson))
                 $.post("http://localhost:5000/bs_mapped",JSON.stringify(drpdbJson))
             })
           </script>
         </div>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->

{% endblock body %}