{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}

    <div class="container my-3">
        <h2>Add a Role</h2>
        <form action="/admin/add/role" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Role Title</label>
              <input type="text" class="form-control" name="role_title" id="title" aria-describedby="emailHelp"> 
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Role Description</label>
              <input type="text" class="form-control" name="role_description" id="desc">
            </div>
            
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
    </div>
    <div class="container my-3">
      {% if message %}
                   
      <div class="alert alert-dark" role="alert">
          {{message}}
        </div>
        {% endif %}
        <h2>Roles</h2>
        
                {% if allrole|length == 0 %}
                   
                <div class="alert alert-dark" role="alert">
                    No Roles found!
                  </div>
                    {% else %} 
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">SNo</th>
                            <th scope="col">Role Title</th>
                            <th scope="col">Role Description</th>
                            <th scope="col">Create Time</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        
                        <tbody>
              {% for role in allrole %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{role.role_title}}</td>
                <td>{{role.role_description}}</td>
                <td>{{role.date_created.date()}}</td>
                <td>
                  <a href="/admin/update/role/{{role.id}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</a>
                  <a href="/admin/delete/role/{{role.id}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</a>
                
                </td>
              </tr>
              
              {% endfor %}
            </tbody>
            </table>
              {% endif %}
               
           
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->

{% endblock body %}