{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}


    <div class="container my-3">
        
        {% if name %}
        
        <h2>Stock Pricing Table For {{name}} (Search Time Was: {{search_time}})    <a href="/search/stock" type="button" class="btn btn-outline-dark btn-sm mx-1">Back</a></h2> 
        {% endif %}
        
      
              {% if Pricing|length == 0 %}
                 
              <div class="alert alert-dark" role="alert">
                  No Data found! 
                  <h2><a href="/search/stock" type="button" class="btn btn-outline-dark btn-sm mx-1">Back</a></h2>
                </div>
                  {% else %} 
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">SNo</th>
                          <th scope="col">Open</th>
                          <th scope="col">High</th>
                          <th scope="col">Low</th>
                          <th scope="col">Close</th>
                          
                        </tr>
                      </thead>
                      
                      <tbody>
            {% for emp in Pricing %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <th scope="row">{{emp.open_price}}</th>
              <th scope="row">{{emp.high_price}}</th>
              <th scope="row">{{emp.low_price}}</th>
              <th scope="row">{{emp.close_price}}</th>
            </tr>
            
            {% endfor %}
          </tbody>
          </table>
            {% endif %}
             
         
  </div>

    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
        <script>
            var a = document.getElementById("dropbtn");
            var old = a.options[a.selectedIndex].text;
         </script>
       
         <div class="wrapper">
           <script>
             $('#myBtn').on('click', function(a) {
                 var drpdbJson = {};
                 // for each row containing a select....
                 $('#Mapped\\ table tr:gt(0):has(select)').each(function(idx, old_ele) {
                     // get the selected value
                     var old_drpdwnKey = $(old_ele).find('.dropbtn option:selected').text();
                     // get the second column text
                     var old_drpdwnValue = $(old_ele).find('td:eq(1)').text();
                     // add to the json result
                     if (drpdbJson[old_drpdwnKey] == undefined) {
                       drpdbJson[old_drpdwnKey] = old_drpdwnValue;
                     } else {
                       drpdbJson[old_drpdwnKey] = (typeof drpdbJson[old_drpdwnKey] === 'string') ?
                           [drpdbJson[old_drpdwnKey], old_drpdwnValue] : [...drpdbJson[old_drpdwnKey], old_drpdwnValue];
                     }
                 })
                 // print the json obj
                 console.log(JSON.stringify(drpdbJson))
                 $.post("http://localhost:5000/bs_mapped",JSON.stringify(drpdbJson))
             })
           </script>
         </div>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->

{% endblock body %}